body{
    margin: 0px;
    /* width: 1345px; */
}
/* # # # # # # # # # # # # # # # # 
    Header Section
# # # # # # # # # # # # # # # # # # */
#body-header{
    height: 70vh;
    background-image: url(./Static/macbook_mouse.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
}

/* # # # # # # # # # # # # # # # #  */

/* Common Proporty of Horizontal Nav Bar  */
.horizontal-nav{
    text-align: center;
    margin: auto;
    /* height: 82px; */
}
.horizontal-nav li{
    display: inline-block;
    list-style: none;
    margin: 0 13px;
    font-size: 1.75rem; 
}
.nav-1 li{
    margin-top: 4vh;
}
.nav-1 a{
    color: aliceblue;
    text-decoration: none;
}
.nav-1 li a:hover{
    color: aqua;
    transition: color 1.5s;
    border-bottom: 1px solid rgb(212, 164, 164);
    border-radius: 5px;
    padding-bottom: 2px;
    transition: color 1.5s, border 0.5s;
}
/* # # # # # # # # # # # */

/* name heading : 1  */
#name-heading{
    color: aliceblue;
    text-align: center;
    margin-top: 20vh;
    font-size: 3rem;
}

/* # # # # # # # # # # # */
/* Social Icons navigation Bar  */
.nav-2 li a i{
    padding: 10px;
    color: aqua;
    border-radius: 50%;
}
.nav-2 li a i:hover{
    box-shadow: 0px 0px 6px rgb(197, 60, 45);
    transition: 0.5s
}
/* Header section End  */

/*  # # # # # # # # # #
    Main Section Start  
    # # # # # # # # # #   */

/* Add CSS in Section  */
section{
    width: 80%;
    margin: auto;
    /* height: 100vh; */
}
section:nth-child(2n+1){
    /* background-color: rgba(250, 235, 215, 0.24); */
    background-color: white;
}
section:nth-child(2n){
    background-color: rgb(208 202 194 / 31%);
    /* background-color: red; */
}
section:target{
    background-color: cyan;
}/*End common Section */

/*  # # # # # # # # #
 About Section Start 
 # # # # # # # # # # # # */
#about{
    text-align: center;
    margin: auto;
    width: 100%;
    /* position: relative; */
    /* overflow: hidden; */
}
.my-photo{
    position: relative;
    height: 18rem;
    width: 18rem ;
    margin: auto;
    margin-top: -17vh;
}
.my-photo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about-para{
    margin: 5vh auto;

    font-size: 1.5rem;
    width: 50%;
    overflow-wrap: break-word;
}
/* About section End  */

/* ======= Skills ======= */

/* skill heading  */
.hf{
    text-align: center;
    font-size: 3rem;
}
.hf:hover > .skill-icon{
    color: rgb(0, 202, 202);
    transition: 0.5s ease-in-out;
}
.hf:hover > .skill-heading{
    color: black;
    transition: 0.5s ease-in-out;
}
.skill-heading{
    color: rgb(0, 202, 202);
}
.skill-icon{
    color: black;
}/*skill heading end */
/* skill display start  */
.skill-display{
    height: 50vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}
.skills-outer{
    width: 180px;
    height: 35px;
    background-color: grey;
    border-radius: 38px;
}
.skills-outer div{
    height: 100%;
    border-radius: 38px 0px 0px 38px
}
.skills-outer span{
    width: 100%;
    text-align: center;
    padding-top: 7%;
    display: inline-block;
    color: white;
}
#skills-first{
    background-color: rgb(242 157 0);
    width: 70%;
}
#skills-Second{
    background-color: blue;
    width: 50%;
}
#skills-Third{
    background-color: brown;
    width: 70%;
}
#skills-Fourth{
    background-color: green;
    width: 60%;
}
#skills-Fifth{
    background-color: blue;
    width: 80%;
}
#skills-Sixth{
    background-color: rgb(242 157 0);
    width: 50%;
}
#skills-Seventh{
    background-color: green;
    width: 40%;
}
#skills-Eighth{
    background-color: brown;
    width: 30%;
}/* skill section end */

/* ======= Work experience ======= */
.timeline{
    /* border: 1px solid black; */
    position: relative;
}
.timeline-box{
    /* border: 2px solid black; */
    width: 40%;
    margin: 1%;
    position: relative;
}
.timeline-box:nth-child(2n){
    /* position: relative; */
    left: 58.12%;
}
.timeline-box:nth-child(2n+1) .timeline-box-content{
    /* position: relative; */
    text-align: right;
}
.timeline-box-content{
    margin: 0px;
}
.timeline-box h3{
    margin: 10px 0px;
}
.timeline-box h4{
    margin: 5px 0px;
}
.line{
    border-left: 3px dashed red;
    width: 0;
    height: 75%;
    /* margin: 10px 0px; */
    top: 10%;
    position: absolute;
    left: 50%;
}
.time-traveller{
    rotate: 90deg;
    position: sticky;
    left: 50%;
    top: 50%;
}
.timeline-box:nth-child(2n)::after{
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 27.5%;
    left: -23.5%;
}
.timeline-box:nth-child(2n+1)::after{
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 27.5%;
    right: -23.5%;
}/*Work Experience section end */




#education,#portfolio , #contact{
    height: 100vh;
}